name: CI_CD_tf_regression

on:
  push:
    branches: [experiment, main, pipeline]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Train Model
      run: python model.py

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: model-files
        path: |
          model.h5
          model_results.png
          metrics.txt
