name: CI_CD_tf_regression

on:
  push:
    branches: [experiment, main, pipeline]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt tensorflow fastapi uvicorn dvc cml

    - name: Train & Save Model
      run: python model.py

    - name: Generate Report + CML Comment
      env:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
      run: |
        echo "## Model Metrics" > report.md
        cat metrics.txt >> report.md
        
        echo "\n## Model Performance" >> report.md
        echo "Model performance metrics are on the plot below." >> report.md
        
        cml-publish model_results.png --md >> report.md
        
        cml-send-comment report.md

    - name: Upload Plot Artifact
      uses: actions/upload-artifact@v4
      with:
        name: model-plot
        path: model_results.png

    - name: Upload Metrics Artifact
      uses: actions/upload-artifact@v4
      with:
        name: metrics
        path: metrics.txt

    - name: Upload Model Artifact
      uses: actions/upload-artifact@v4
      with:
        name: model-files
        path: model.h5

    - name: Upload Report Artifact
      uses: actions/upload-artifact@v4
      with:
        name: report-file
        path: report.md
