name: mlops-example-tensorflow-regression
on: [push]

jobs:
  run:
    runs-on: ubuntu-latest
    container: docker://python:3.10-slim

    steps:
      - uses: actions/checkout@v2

      - name: Upgrade pip
        run: |
          python -m pip install --upgrade pip

      - name: Install dependencies
        run: |
          pip install --no-cache-dir -r requirements.txt
          pip install --no-cache-dir cml

      - name: Train model & generate report
        env:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
        run: |
          python model.py
          echo "## Model Metrics" > report.md
          cat metrics.txt >> report.md
          echo "\n## Model Performance" >> report.md
          echo "See plot below." >> report.md
          cml-publish model_results.png --md >> report.md
          cml-send-comment report.md
